@color: #ccc;

@highlight-color: salmon;

@label-color: white;
@label-text-color: #fff - @label-color;

@line-color: darken(@color, 30%);
@line-width: 2px;

svg {
	width: 100%;
	height: 800px;
}

text {
  fill: @label-text-color;
}

.node {
  cursor: pointer;

  .enter {
    fill: @color;
  }

  .exit {
    fill: @color;
  }

  rect {
    fill: @label-color;
  }
}

.node:hover {
  .enter,
  .exit {
    fill: @highlight-color;
  }

  text {
    fill: @highlight-color;
  }
}

.edgePath {
  path {
    fill: none;
    stroke: @line-color;
    stroke-width: @line-width;
  }
}

#arrowhead {
  fill: @line-color !important;
}
