@import "knowledge-map.less";

@heading-size: 40px;

@button-size: 30px;
@button-padding: 6px;
@button-color: #ccc;

@close-size: 30px;
@close-padding: 5px;

@content-text-color: #444;

@article-link-padding: 2em;

@modal-padding: 20px 35px;

@success-color: chartreuse;
@warning-color: salmon;

.pico-content {
  font-family: 'Fira', sans-serif;
  padding:  @modal-padding !important;

  > h1, input#title {
    font-size: @heading-size;
  }

  h2, input.title {
    font-size: @heading-size*0.7;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: @highlight-color;
  }

  a:visited {
    color: lighten(@highlight-color, 12%);
  }

  a:hover {
    text-decoration: underline;
  }

  article {
    color: @content-text-color;
  }

  article.link {
    padding-left: @article-link-padding;

    header {
      display: list-item;
    }

    p {
      margin-top: 0;
    }

    span {
      color: gray;
      font-size: small;
      padding: 0 0.5em;
    }
  }

  input, textarea {
    font-family: 'Fira', sans-serif;
    width: 95%;
  }

  textarea {
    min-height: 200px;
  }

  button {
    font-family: 'Fira', sans-serif;
    font-size: @button-size - @button-padding*2;

    padding: @button-padding;

    background: @button-color;
    border: none;
  }

  button#saveBtn {
    background: @success-color;
  }

  button#deleteConceptBtn {
    background: @warning-color;
  }

  button:hover {
    background: lighten(@button-color, 10%);
  }
  button#saveBtn:hover {
    background: lighten(@success-color, 10%);
  }
  button#deleteConceptBtn:hover {
    background: lighten(@warning-color, 10%);
  }
}

.pico-close {
  height: auto !important;
  width: auto !important;
  padding: @close-padding;

  font-size: 2*(@close-size - @close-padding*2) !important;
  line-height: (@close-size - @close-padding*2) !important;

  background-color: transparent !important;
}
